@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*:focus-visible {
  outline: 2px dashed gray;
  outline-offset: 1px;
}

.recharts-cartesian-grid-horizontal line:last-child {
  display: none;
}

.xAxis g .recharts-cartesian-axis-tick:first-child {
  display: none;
}

/* .Axis g .recharts-cartesian-axis-tick:last-child {
  display: none;
} */

